<html>
<body>
    <div> Customer Manager </div>
    <div>
        <form method="post" action="customer_add">
            <input type="text" name="name" placeholder="Input your name"/>
            <input type="text" name="email" placeholder="Input your e-mail"/>
            <input type="text" name="address" placeholder="Input your address"/>
            <button type="submit">Save</button>
        </form>
    </div>
</body>
</html>